footer {
  background-color: #5a78b4 !important;
  margin-top: 22px !important;
}

.footer-copyright {
  background-color: #4f70ad !important;
}

.btn-floating {
  background-color: #8091c6 !important;
}
